.links{
    margin-left: 510px;
    font-size: 28px;
    z-index: 2;
}

.links:hover{
    color: #EFEFEF;
}

.but{
    z-index: 2;
    position: absolute;
    margin-top: 15px;
    margin-left: 1150px;
    width: 161px;
    height: 44px;
    font-size: 24px;
    background: #CEE8B8;
    border: #CEE8B8;
    border-radius: 10px ;
}

.but:hover{
    background: #C1DEA8;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: #C1DEA8;
}
/* 
@font-face {
    font-family: "UnicaOne";
    src: url('/react2/src/fonts/UnicaOne-Regular.ttf')
   } */