.header {
  position: absolute;
  margin: 0 auto;
  width: 1366px;
  padding: 30px;
  display: inline-flex;
  list-style-type: none;
  margin-bottom: 40px
}

.header li {
  margin-right: -615px;
  margin-top: 15px;
}

.cotalog{
  position: absolute;

  width: 200px;
  height: 250px;
  background: rgba(255, 255, 255, 0.700);
  border-radius: 15px;
  right: 440px;
  top: 75px;
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.342); 
}